<div class="delivery-dashboard">

    <!-- Coluna da Lista de Pedidos -->
    <div class="orders-list-container">
        <div class="orders-list-header">
            <h2>Pedidos de Entrega</h2>
            <span id="order-count">
                <%= orders.length %>
            </span>
        </div>
        <div id="order-list">
            <% if (orders.length===0) { %>
                <p>Nenhum pedido disponível no momento.</p>
                <% } else { %>
                    <% orders.forEach(order=> { %>
                        <div class="order-card" data-order-id="<%= order.id %>"
                            data-order='<%- JSON.stringify(order) %>'>
                            <h3>Pedido #<%= order._id.substring(0, 8) %>
                            </h3>
                            <p><strong>Cliente:</strong>
                                <%= order.user.name %>
                            </p>
                            <p><strong>Distância:</strong> 5.2km</p>
                            <p style="display: flex; justify-content: flex-start;"> <strong>Endereço:</strong>
                                <%= order.endereco.rua %>, <%= order.endereco.numero %>

                                        <span style="margin-left: 30px;"
                                            class="order-status status-<%= order.status.toLowerCase().replace(' ', '-') %>">
                                            <%= order.status %>
                                        </span>
                            </p>

                        </div>
                        <% }); %>
                            <% } %>
        </div>
    </div>

    <!-- Coluna de Detalhes do Pedido Selecionado -->
    <div class="selected-order-container">
        <div id="map-placeholder">
            <span class="material-icons" style="font-size: 5rem; color: #bbb;">map</span>
        </div>


        <div id="selected-order-content">
            <div id="empty-state">
                <span class="material-icons">list_alt</span>
                <h3>Selecione um Pedido</h3>
            </div>


            <div id="order-details-info">
                <div class="details-header">
                    <h3>Detalhes do Pedido</h3>
                    <div class="details-body">
                        <div class="info-item" style="grid-area: client" id="detail-client-name"></div>
                        <div class="info-item" style="grid-area: endereco" id="detail-address"></div>
                        <div class="info-item" style="grid-area: status" id="detail-status"></div>
                    </div>
                </div>

                <div class="details-confirmation">
                    <input type="number" name="number" id="number" value="" hidden>
                    <button type="button" class="btn btn-destaque" onclick="enviarCodigo()">
                        Enviar Codigo
                    </button>

                    <input type="text" id="OtpToClient" placeholder="Código do cliente" required>
                    <button type="button" class="btn btn-destaque" onclick="confirmarEntrega()">
                        Confirmar Entrega
                    </button>

                </div>

                <div class="delivery-actions">
                    <button type="button" class="btn" onclick="tracarRota()">Traçar Rota</button>
                    <button class="btn btn-secundario" onclick="vernoMapa()">Ver no Mapa</button>
                    <button type="button" id="location-btn" class="btn btn-secundario"
                        onclick="toggleLocationTracking()">Obter Localização</button>
                    <input type="text" id="origin" placeholder="Minha Localização (Origem):" readonly>
                </div>
            </div>
        </div>
    </div>

</div>